
.container{
  margin: 0;
  padding: 0;
}  
  // .meri{
  //   filter: invert(42%) sepia(73%) saturate(4178%) hue-rotate(185deg) brightness(87%) contrast(88%);
  // }
  .meri{
    background-color: #156ba5;
    opacity: 0.7;
    margin:0;
    padding: 0;
  }
  .m{
    font-size: 20px;
    position: absolute;
    top:40%;
    left:40%;
  }