// p{
//     width: 100vw;
//     height: 70vh;
// }
::ng-deep .carousel-control-prev-icon{
    position: absolute;
    right:10vw;
    z-index: 10;
}
::ng-deep .carousel-control-next-icon{
    position: absolute;
    right:70vw;
    z-index: 10;

}
::ng-deep .carousel-caption{
    position: absolute;
    right:70vw;
    z-index: 10;

}