<div class="header navbar-light bg-light">
  <div class="image">
    <div>
      <img class="mr-4" src="../../assets/img/logo.png" />
      <img
        class="mr-5"
        class="logo"
        src="../../assets/img/Final Logo w Text.png"
        routerLink="/"
      />
    </div>
    <div>
      <img class="mr-4" src="../../assets/img/EN V Co-funded by_PANTONE.png" />
      <app-language-selector></app-language-selector>
    </div>
  </div>
</div>

<nav class="center nav navbar navbar-expand-lg navbar-light bg-light">
  <div class="center collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="center navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" routerLink="/about"
          >//{{ words[0].about | translate }}
        </a> -->
        <a class="nav-link" routerLink="/about">ABOUT </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/staff">STAFF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news">NEWS</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          TEACH EU
        </a>

        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/researchEu">RESERCH EU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/discuss-eu">DISCUSS EU</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog" href="#">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
