<div class="container">
  <h1>
    Interview with John Koenig: “An update on the war in Ukraine – New Day NW”
  </h1>
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSINrl-nr_sZU_pUWg2QvnSQf7RKzTfNO59ZA&usqp=CAU"
    class="blog-image"
  />
  <p class="text">
    “For more on all the questions surrounding this issue and the very latest,
    policy specialist John Koenig sat down with New Day NW. Koenig spent more
    than three decades in the U.S. Foreign Service and is currently a lecturer
    with the UW Center for West European Studies.”
  </p>
  <div class="watch">
    <a href="https://www.youtube.com/embed/KwpA_CvmWV0" class="watch fancybox">
      Watch Video
      <img class="play-icon" src="../../assets/img/play.png" />
    </a>
  </div>
</div>
