<div>
  <div class="person">
    <img src="../../assets/img/human.jpg" style="height: 400px" />
    <div>
      <h1>Eka Akobia</h1>
      <p class="text">
        Eka Akobia is the Dean and an associate professor of the Caucasus School
        of Governance, where she administers schools’ programs in diplomacy and
        international relations (PHD, MA and BA levels) and in Public
        Administration (BA and MA). She also directs the Institute of Peace
        Studies (IPS) at Caucasus University. Since 2018, she is a member of the
        Network of Institutes and Schools of Public Administration in Central
        and Eastern Europe (Nispacee). She has obtained her doctoral degree in
        International Relations from Tbilisi State University. Topic of her
        Doctoral Dissertation was “The initiatives of the Soviet Union and the
        Russian Federation vis a vis the European Security Architecture:
        Unpacking the Objectives, Factors and the Outcomes”. She has garnered
        her MA degree in International Relations from Baylor University, USA and
        her BA degree in Political Science from Hartwick College (American
        Council UGRAD scholarship), USA. Variously, she teaches Theories of
        International Relations (MA and PHD level), International Organizations,
        EU External Relations and UN Peacekeeping Operations courses. Eka has
        published number of articles as well as contributed to edited volumes of
        the European Union series published in Georgia as part of a Jean Monnet
        project. Her sphere of expertise includes Georgia’s European and
        Euro-Atlantic integration, Euro-Atlantic security as well as issues
        related to wider regional security, including Middle East and Asia. Eka
        frequently contributes analytical pieces to online analytical news
        platform in Georgia - civil.ge as well as often appears on national TV
        channels for expert commentary on ongoing security issues. Her current
        research interests include interrelationship between democratization and
        security. Her book chapter on “ Public Administration in Countries in
        Conflict: The Case of Georgia” is forthcoming (Palgrave Macmillan).
        Notably, Eka Akobia has had an extensive public service career. She has
        worked for the Ministry of Foreign Affairs of Georgia from 2005 till
        2016, holding various positions in Political and territorial
        departments. From 2012 to 2016 she served as the Director of the Asia,
        Africa, Australia and the Pacific Department, MFA. She holds a
        diplomatic rank of a counselor and has received number of awards for her
        civil service.
      </p>
    </div>
  </div>
</div>
